name: Protobuf Contracts

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to deploy'
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.24"

      - name: Install protoc
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
          echo "$HOME/go/bin" >> $GITHUB_PATH

      - name: Generate Go Protobuf
        run: |
          mkdir -p ./gen/go
          protoc -I ./proto $(find ./proto -name "*.proto") \
            --go_out=./gen/go --go_opt=paths=source_relative \
            --go-grpc_out=./gen/go --go-grpc_opt=paths=source_relative
